@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Special+Elite&family=VT323&display=swap");

:root {
  --ink: #2b221a;
  --paper: #f5f0e6;
  ----accent: #e8a33d;
}
